<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container row col-12 justify-content-center p-4 "> 
      <div class="container row fluid d-flex col-8">
    <%= yield %>
      </div>
    </div>
  </body>
</html>
